.footer-main-wrapper{
   background-color: #606261;
   padding: 50px;
   // margin-top: 40px;
   display: flex;
   flex-direction: column;
   // justify-content: center;
   align-items: center;

   .img-links-wrapper{     
      display: flex;
      justify-content: space-around;
      align-items: center;

      .left-column {     
         img{
            padding-right: 40px;
            height: 80px;
            width: 90px;
         }        
      }
   
      .center-column{
   
         .links-wrapper{
            width: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
   
            a{
               font-size: 1.5em;
               color: #42beaa;
               text-decoration: none;
               transition: 0.3s ease-in-out;
      
               &:hover{
                  color: black;
               }
            }
         }
      }
   
      .right-column{
         display: flex;
         justify-content: space-around;
         align-items: center;
   
         .facebook{
            font-size: 1.8em;         
            margin-right: 40px;
            color:#be58dd;
            transition: 0.3s ease-in-out;
   
            &:hover{
               color: #0f4935;
               cursor: pointer;
            }
         }
         .insta{
            font-size: 1.8em;         
            margin-right: 40px;
            color:#be58dd;
            transition: 0.3s ease-in-out;
   
            &:hover{
               color: #0f4935;
               cursor: pointer;
            }
         }
      }
   }

   .copyright{
      margin-top: 50px;
      font-size: 1em;
      color: whitesmoke;
   }
   
}