.home-main-wrapper{
    .hero-section{
        .background-image{
            background-image: url(../images/backgrounds/boxes-men.png);
            padding: 100px;
            height: 30vw;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;   
        }
        .top-heading{
            background-color: #97f1e4;
            text-align: center;
            box-shadow: 3px 6px 4px #0c5046;       
            
            h1{
                color: #534f4f;
                font-size: 2em;
            }
        }            
    }       
}