@media (max-width: 615px){

   // Navigation Container Media Queries
   .navigation-main-wrapper{
      flex-direction: column;
      height: 100%;  
      
      .left-column {        
         a{
            img{
                margin-left: 0px;
            }
         }  
       }

      .right-column{
         width: 100%;

         .login-icon{
            margin-left: 20px;
         }

         .logout-icon{
            margin-left: 20px;
         }

         .sign-in{
            margin-left: 16px;
            font-size: 1.1em;
         }
      }

      .center-column{
         flex-direction: column;
         margin-top: 15px;

         .nav-links{
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 1.3em;
         }         
      }
   }  

   // Home Page Media Queries
   .home-main-wrapper{
      .hero-section{
         .background-image{
            padding: 50px 10px;
         }   
         
         .top-heading h1{
            font-size: 1.5em;
         }
      }
   }

   // Top Slider Media Queries
   .slides-wrapper{
      .out{
         .card{
            width: 100px;
            margin: 0px 5px;

            img {
               width: 120px;
               height: 120px;
            }

            .card-body{
               .card-title{
                  font-size: 17px;
               }

               .follow{
                  padding: 5px 8px;
               }
            }
         }
      }
   }

   // Home page part media queries
   .deals-email-wrapper{
      p{
         font-size: 1.1em;
      }

      .right-colum{
         .box-icon{
            font-size: 1.9em;           
            margin-right: 15px;
         }

         .boxedin-learn-more{
            .boxedin{
               font-size: 1.5em;              
           }
         }
      }
   }

   // Footer Container Media Queries
   .footer-main-wrapper{
      .img-links-wrapper{
         flex-direction: column;
         justify-content: center;

         .left-column{
            order: 2;

            img{
               margin-top: 15px;
               padding-right: 0px;
            }           
         }
   
         .center-column{
            order: 1;
   
            .links-wrapper{
               flex-direction: column;
               margin-top: 15px;
   
               .nav-links{
                  margin-top: 10px;
                  margin-bottom: 10px;
                  font-size: 1.3em;
               }  
            }
         }
      }
   }

   // About Page Media Queries
   .squares-wrapper{
      .squares{
         .square{
            grid-template-columns: 1fr !important;

            .square-text-wrapper {
               order: 1;
            }

            .img-wrapper {
               order: 2;
            }
         }
      }
   }

   // Product, Products-items Media Queries
   .products-main-wrapper{
      .products-items-wrapper{
         grid-template-columns: 1fr 1fr;

         .product-item-wrapper{
            width: 48vw;
            height: 55vh;

            .product-image img {
               width: 30vw;
               height: 21vh;
            }
         }
      }
   }

   // Product-detail Media Queries
   .product-detail-main-wrapper{
      .product-detail-wrapper{
         grid-template-columns: 1fr;

         .image{      
            display: flex;
            justify-content: center;  
            img{              
               margin-left: 0px;
               width: 40vw;
               height: 27vh;
            }
         }
      }

      .comments-form-wrapper{
         flex-direction: column;

         .sec-image{          
            img{            
               width: 20vw;
               height: 10vh;
            }    
         }
      }
   }

   // Cart-detal, cart-item Media Queries
   .cart-main-wrapper{
      .checkout-wrapper{
         margin-top: 15px;
         flex-direction: column;
      }

      .cart-items-wrapper{
         .cart-detail-wrapper{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            .image{        
               img{
                  width: 40vw;
                  height: 40vw;           
               }
            }

            .details{
               margin-left: 0px; 
            }
         }
      }
   }  
   
   // Dashboard Media Queries
   .dashboard-main-wrapper{
      width: 100%;
      flex-direction: column;
      justify-content: center;
   }
}