.navigation-main-wrapper{
   background-color: #97f1e4;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 7px 10px;

  .left-column {
     a{
        img{
            margin-left: 20px;
            height: 60px;
            width: 70px;
        }
     }     
   }
   
   .center-column{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;

      .nav-links a{
         font-size: 1.5em;
         color: #636260;
         text-decoration: none;
         transition: 0.3s ease-in-out;

         &:hover{
            color: black;
         }
      }      
   }

   .right-column{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .login-logout-wrapper{
         .logout-icon{
            font-size: 1.8em;         
            margin-right: 40px;
            color:#be58dd;
            transition: 0.3s ease-in-out;

            &:hover{
               color: #0f4935;
               cursor: pointer;
            }
         }

         .login-icon{
            font-size: 1.8em;         
            margin-right: 40px;
            
            a{
               color:#be58dd;
               transition: 0.3s ease-in-out;
   
               &:hover{
                  color: #0f4935;
               }
            }         
   
            .sign-in{
               font-size: 0.5em;
               color:black;         
            }
         }
      }
      
      

      .cart-icon{
         font-size: 1.8em;
         color: black;
         margin-right: 30px;

         a{
            color: #be58dd;
            transition: 0.3s ease-in-out;

            &:hover{
               color: #0f4935;
            }
         } 
      }
   }
}