.products-main-wrapper{
   .search-bar{
      background-color: #be58dd;
      height: 60px;
   }

   .products-items-wrapper{      
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;      
   
     .product-item-wrapper{
         display: flex;
         flex-direction: column;
         width: 26vw;
         height: 55vh;
         align-items: center;
         margin-top: 19px;         
         border-radius: 7px;
         box-shadow: 3px 6px 4px #888888;
         padding: 0px 3px 0px 3px;

         .product-category{
            p{
               font-size: 1.2em;
            }
         }   
   
         .product-image img {
            width: 16vw;
            height: 21vh;
            border-radius: 5px;
         }
   
         a{        
            text-decoration: none;         
         }
   
         .product-info-wrapper{   
            color: #3a3737;
            text-align: center;         
            
            &:hover{
               color: #7c127c;
            }   
            
            .product-name{
               p{
                  font-size: 1.2em;
                  font-weight: bold;
               }
            }       

            .product-stars{
               display: flex;
               justify-content: center;
               align-items: center;
               color: #aaa11d;

               p{
                  color: black;
               }
            }

            .product-price{
               font-weight: bold;
            }
         } 
      }
   }
}

